<ion-toolbar>
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="friendAccount">Chat with {{friendAccount.username}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button (click)="goBack()" defaultHref="tabs/admin-qr"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-toolbar>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <app-chat-message
            *ngFor="let chatMessage of chatMessages"
            [chatMessage]="chatMessage"
            [userId]="userId"
            [friendId]="friendId"
          ></app-chat-message>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="text-box">
      <ion-col>
        <app-chat-input (messageEmitter)="sendMessage($event)"></app-chat-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
