<ion-header>
  <ion-toolbar>
    <ion-title>Chats</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addFriend()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row *ngIf="pendingRequests.length > 0">
      <ion-col>
        <ion-title>
          Pending friend requests
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="pendingRequests.length > 0">
      <ion-col>
        <ion-list>
          <app-pending-chat-list-item
            *ngFor="let request of pendingRequests"
            [request]="request"
            (requestEmitter) = "removeRequest($event)"
          ></app-pending-chat-list-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <app-chat-list-item
            *ngFor="let friend of friends"
            [friend]="friend"
          ></app-chat-list-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
