<ion-toolbar>
  <ion-header>
    <ion-toolbar>
      <ion-title>XP History</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/profile"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-toolbar>
<ion-content *ngIf="historyList">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Amount</ion-col>
      <ion-col>Reward</ion-col>
      <ion-col>When</ion-col>
      <ion-col>Product</ion-col>
    </ion-row>
    <ion-row *ngFor="let entry of historyList; index as i">
      <ion-col>{{ entry.amount }}</ion-col>
      <ion-col>{{ entry.reward }} xp</ion-col>
      <ion-col>{{entry.created}}</ion-col>
      <ion-col>{{entry.sessionProductView.name}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-row *ngIf="showButton">
    <ion-button (click)="loadMore()">
      <ion-icon name="arrow-down-outline"></ion-icon>
    </ion-button>
  </ion-row>
</ion-content>
