<ion-row>
  <ion-col>
    <ion-accordion-group value="first">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Achievements</ion-label>
        </ion-item>
        <ion-row slot="content" *ngFor="let achievement of achievements">
          <ion-col>
            <app-achievement [achievement]="achievement"></app-achievement>
          </ion-col>
        </ion-row>
      </ion-accordion>
    </ion-accordion-group>
  </ion-col>
  <ion-row *ngIf="showButton">
    <ion-col>
      <ion-button expand="full" (click)="loadMore()">
        Load more
      </ion-button>
    </ion-col>
  </ion-row>
</ion-row>
