<ion-toolbar>
  <ion-row>
    <ion-col size="9">
      <ion-input (keyup.enter)="emitMessage()" autofocus="true" [(ngModel)]="message"></ion-input>
    </ion-col>
    <ion-col size="3">
      <ion-button expand="full" color="success" (click)="emitMessage()">Send</ion-button>
    </ion-col>
  </ion-row>
</ion-toolbar>
