<ion-header>
  <ion-toolbar>
    <ion-title>Wachtwoord resetten</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <form [formGroup]="passwordForm">
      <ion-row>
        <ion-col>
          <ion-item color="loginTextField">
            <ion-input  type="password" placeholder="Wachtwoord" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="loginTextField">
            <ion-input type="password" placeholder="Herhaal wachtwoordd" formControlName="passwordRepeat"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-button expand="block" (click)="updatePassword()">Update password</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
