<ion-row>
  <ion-col>
    <p>{{achievement.achievementName}} |  {{achievement.currentRank}}</p>
    <ion-progress-bar color="secondary" value="{{achievement.percentage}}"></ion-progress-bar>
  </ion-col>
</ion-row>

