<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <p>
            {{checkIn}}
          </p>
          <p>
            {{checkOut}}
          </p>
          <ion-button expand="full" (click)="closeModal()">
            <ion-icon slot="start" name=></ion-icon>
            Close
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
