<ion-col size="8" >
  {{session.checkIn}}  {{session.totalPrice}}€  {{session.totalXp}}xp {{session.email}}
</ion-col>
<ion-col>
  <ion-button (click)="showSession(session.sessionId)">Open</ion-button>
</ion-col>
