<ion-row>
  <ion-col>
    {{ request.username }}
  </ion-col>
  <ion-col>
    <div>
    <div class="buttons">
      <ion-icon name="thumbs-down-outline" (click)="declineRequest()"></ion-icon>
    </div>
    <div class="buttons">
      <ion-icon name="thumbs-up-outline" (click)="acceptRequest()"></ion-icon>
    </div>
    </div>
  </ion-col>
</ion-row>
