ion-content {
  background-color: var(--ion-color-primary)
}

ion-card {
  border-radius: 0;
  border: 1px solid white;
  padding: 40px 0 0;
  background-color: white;
}

.page-title {
  clear: both;
  text-align: center;
  align-content: center;
  display: inline-block;
  width: 100%;
}

p {
  color: black;
  font-size: 52px;
  margin-top: 0;
  margin-bottom:18px;
}

.title-icon {
  clear: both;
  align-self: center;
  margin-top: 2%;
  display: inline-block;
  font-size: 64px;
  width: 64px;
}

ion-img {
  align-self: center;
  display: inline-block;
  width: 300px;
  height: 100%;
  margin-bottom: 16px;
}

.qr-description {
  align-self: center;
  display: inline-block;
  width: 90%;
  p {
    font-size: 16px !important;
  }
  color: black;
}

