<ion-header>
  <ion-toolbar>
    <ion-title>Wachtwoord vergeten</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="forgotEmailForm">
          <ion-item color="loginTextField">
            <ion-input required type="text" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <p *ngIf="emailSend">Als je emailadres bekend is bij ons ontvang je binnen een paar minuten een email om je te helpen je wachtwoord te herstellen</p>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-button expand="full" (click)="requestNewPassword()">Login
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
