<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div *ngFor="let item of items.products;let i = index ">
          <p size="12">{{item.amount}} {{item.name}} {{calculatTimeSince(item.created)}}</p>
        </div>
        <ion-button expand="full" (click)="closeModal()">
          <ion-icon slot="start" ></ion-icon>
          Close
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
