<ion-tabs>

  <ion-tabs *ngIf="isAdmin" name="tabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button class="qr-tab" tab="admin-qr">
        <ion-icon class="iconSize" src="assets/icon/QRcode.svg"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon src="assets/icon/Profile.svg" name="person-circle-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="chat-list">
        <ion-icon src="assets/icon/Friends.svg" class="iconSize"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-tabs *ngIf="!isAdmin" name="tabs" >
    <ion-tab-bar slot="bottom">
      <ion-tab-button class="qr-tab" tab="qr">
        <ion-icon class="iconSize" src="assets/icon/QRcode.svg"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon src="assets/icon/Profile.svg"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="chat-list">
        <ion-icon src="assets/icon/Friends.svg" class="iconSize"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-tabs>
