<ion-toolbar>
  <ion-header>
    <ion-toolbar>
      <ion-title>Sessie overview</ion-title>
      <ion-buttons slot="start">
        <ion-back-button (click)="goBack()" defaultHref="tabs/admin-qr"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-toolbar>
<ion-content *ngIf="sessions">
  <ion-row *ngIf="isLoading">
    <ion-col>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row *ngFor="let session of sessions">
      <app-session [session]="session"></app-session>
    </ion-row>
    <ion-row *ngIf="showButton">
      <ion-button expand="full" (click)="loadMore()">
        <ion-icon name="arrow-down-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
