<ion-toolbar>
  <ion-header>
    <ion-toolbar>
      <ion-title>Account overview</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/admin-qr"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-toolbar>
<ion-content *ngIf="accountList">
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="searchField">
          <ion-input formControlName="email" placeholder="Search"></ion-input>
        </form>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let account of accountList">
      <ion-col (click)="openAccount(account.id)">
        <app-account [account]="account"></app-account>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
