<ion-toolbar>
  <ion-title>Inloggen</ion-title>
</ion-toolbar>
<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="loginForm">
          <ion-item color="loginTextField">
            <ion-input class="blaat" required type="text"  placeholder="Email" formControlName="loginEmail"></ion-input>
          </ion-item>
          <ion-item color="loginTextField">
            <ion-input required type="password" placeholder="Wachtwoord" formControlName="loginPassword" (keyup.enter)="login()"></ion-input>
          </ion-item>
        </form>
        <ion-row class="error-message">
          <p *ngIf="accountNotFoundError">Account niet gevonden!</p>
          <p *ngIf="incorrectDataError">Geen (correct) wachtwoord of email ingevuld</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-button expand="full" (click)="login()">Login
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center; margin-top: 8px;">
        <div>
        <a routerLink="/forgot-password" style="min-width: 100%" color="secondary">
          Wachtwoord vergeten?
        </a>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <div class="sign-up-button">
          <a routerLink="/register">Nieuw account aanmaken</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
