<ion-header>
  <ion-toolbar>
    <ion-title>Registreren</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="background">
  <ion-grid>
    <form [formGroup]="registerForm">
      <ion-row>
        <ion-col>
          <ion-item color="loginTextField">
            <ion-input required placeholder="Emailadres" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!emailCheck" class="error-message">
        <p>Voer een geldig emailadres in</p>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="loginTextField">
            <ion-input required type="password" placeholder="Wachtwoord" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="loginTextField">
            <ion-input required type="password" placeholder="Bevestig wachtwoord"
                       formControlName="passwordRepeat"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!passwordValidCheck" class="error-message">
        <p>Je wachtwoord moet uit minimaal 8 karakters waarvan minimaal een speciaal teken, hoofdeletter en cijfer</p>
      </ion-row>
      <ion-row *ngIf="!identicalPasswordsCheck" class="error-message">
        <p>Je wachtwoorden zijn niet hetzelfde!</p>
      </ion-row>
      <ion-row>
        <ion-col size="4" align="end">
          <div class="privacy_statement">
            <ion-checkbox formControlName="acceptedPrivacyStatement"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-item color="loginTextField" class="text-center">
            <p class="privacy_statement_label">Ik ga akkoord met de algemene voorwaarden</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!acceptedPrivacyStatement" class="error-message">
        <p>Je moet akkoord gaan met de algemene voorwaarden en privacy voorwaarden</p>
      </ion-row>
    </form>
    <ion-row class="top-margin">
      <ion-col style="text-align: center">
        <ion-button (click)="registerClicked()">Aanmelden
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
