<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin-qr</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <video #video [hidden]="!scanActive" width="100%"></video>
    <canvas #canvas hidden></canvas>
    <ion-button expand="full" (click)="sessionScan()">
      <ion-icon slot="start" ></ion-icon>
     Scan Session
    </ion-button>
    <ion-button expand="full" (click)="addProducts()">
      <ion-icon slot="start" ></ion-icon>
     Add products
    </ion-button>
    <ion-row *ngIf="openProductView">
      <ion-col>
        <ion-row>
          <ion-col>
            <form [formGroup]="searchField">
              <ion-input formControlName="name" placeholder="Search"></ion-input>
            </form>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-spinner *ngIf="showSpinner" name="dots"></ion-spinner>
          <ion-col>Name</ion-col>
          <ion-col>Price</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-list>
            <ion-item-sliding #item *ngFor="let product of productList">
              <ion-item>
                <ion-col>
                  {{product.name}}
                </ion-col>
                <ion-col>
                  {{product.price}}
                </ion-col>
              </ion-item>
              <ion-item-options side="start" (ionSwipe)="addToBasket(product)">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-item-options>
              <ion-item-options side="end" (ionSwipe)="removeFromBasket(product)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showButton">
          <ion-col>
          <ion-button expand="full" (click)="loadMore()">
            Load more
          </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item-sliding #item *ngFor="let product of basket">
                <ion-item>
                  <ion-col>
                    {{product.name}}
                  </ion-col>
                  <ion-col>
                    {{product.price}}
                  </ion-col>
                  <ion-col>
                    {{product.amount}}
                  </ion-col>
                </ion-item>
                <ion-item-options side="start" (ionSwipe)="addToBasket(product)">
                  <ion-icon name="add-circle-outline"></ion-icon>
                </ion-item-options>
                <ion-item-options side="end" (ionSwipe)="removeFromBasket(product)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" (click)="productScan()">
              Bestellen
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-button expand="full" (click)="claimAchievements()">
      <ion-icon slot="start" ></ion-icon>
      Claim achievements
    </ion-button>
    <!-- Stop our scanner preview if active -->
    <ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
      <ion-icon slot="start" name="close"></ion-icon>
      Stop scan
    </ion-button>
  </ion-grid>
</ion-content>
