<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="searchField">
          <ion-input placeholder="Friend's username" formControlName="username" ></ion-input>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-button expand="full" (click)="sendFriendRequest()">
            <ion-icon slot="start"></ion-icon>
            Send friend request
          </ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-button expand="full" (click)="closeModal()">
            <ion-icon slot="end"></ion-icon>
            Cancel
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
