<ion-row *ngIf="sessionOverview">
  <ion-col>
    <ion-accordion-group value="first">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>{{checkedOut ? 'Laatste sessie' : 'Huidige sessie'}}</ion-label>
        </ion-item>
        <ion-row slot="content" *ngFor="let product of sessionOverview.products">
          <ion-col>
            <app-latest-session-product [product]="product"></app-latest-session-product>
          </ion-col>
        </ion-row>
        <ion-row slot="content">
          <ion-col>
            Totaal {{sessionOverview.price}}€ {{sessionOverview.xp}}xp
          </ion-col>
        </ion-row>
      </ion-accordion>
    </ion-accordion-group>
  </ion-col>
</ion-row>
