.container-profile {
  height: 80%;
  max-width: 100%;
  margin: 50px auto auto;
  border: 1px solid white;
  background-color: var(--ion-color-cardbackgroundprimary);
}

ion-card {
  background-color: var(--ion-color-cardbackgroundprimary) !important;
  border-radius: 0;
}

.content {
  h2 {
    color: white;
    margin-top: 0;
  }

  text-align: center;
  padding: 14px;
}

.profile-picture {
  position: relative;
  top: -80px;
  font-size: 128px;
  text-align: center;
}

.profile-name {
  position: relative;
  top: -120px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.profile-xp {
  //text-align: left;
  //max-width: 80%;
  position: relative;
  top: -110px;
  font-size: 12px;
  color: white;
  font-weight: bold;

  div {
    margin-left: 8px;
    display: block;
    float: left;
    width: 10%;
    color: #CEDFFF;

    .level-number {
      text-align: center;
      font-weight: bolder;
      margin-top: 6px;
      margin-bottom: 0;
      font-size: 23px;
      color: black;
    }

    .level-text {
      text-align: center;
      font-weight: bolder;
      margin: 0;
      font-size: 8px;
      color: darkgray;
    }
  }

  app-progress-bar {
    width: 85%;
    display: block;
    float: right;
  }

  .rank-title {
    color: #D66E2E;
    margin-right: 2.5%;
    text-align: right;
    width: 30%;
    display: block;
    float: right;
  }

}

.rank-leaderboard {
  max-height: 40px;
  border-radius: 12px;
  padding: 5px;
  background-color: #E6AFFF;
  position: relative;

  .rank {
    position: relative;
    top: -31px;
    left: -30px;
    text-align: left;
    width: 50%;
  }

  .leaderboard {
    position: relative;
    top: -50px;
    margin-right: 2.5%;
    text-align: right;
    width: 50%;
    float: right;
  }
}

.container-achievements {
  max-width: 100%;
  border: 1px solid white;
  background-color: var(--ion-color-primary);
  margin-bottom: 16px;

  .achievement-item {
    height: 48px;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.locked {
      background-color: #A388C4;
    }

    &.unlocked {
      background-color: #81C678;

    }
  }
}

.content-achievements {
  padding: 14px;

  .gegevens {
    margin-bottom: 16px;
  }

  h2 {
    text-align: center;
    color: white;
    margin-top: 0;
  }

  .gegevens-label {
    font-size: 20px;
    margin-left: 4px;
    color: #BDB2BC;
  }

  .gegevens-item {
    font-size: 20px;
    margin-top: 0;
    margin-left: 4px;
    color: black;
  }
}

.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wip{
  opacity: 30%;
}


