<ion-row *ngIf="profile">
  <ion-col size="12">
    <div class="container-profile">
      <div class="content">
        <div class="profile-picture">
          <ion-icon src="assets/icon/Profile.svg"></ion-icon>
        </div>
        <div class="profile-xp">
          <div><p class="level-number">{{profile.level}}</p>
            <p class="level-text">Level</p>
          </div>
          <div class="rank-title">{{profile.rank}}</div>
          <ion-progress-bar (click)=toXpOverview() color="secondary" value="{{profile.levelPercent}}"></ion-progress-bar>
        </div>
      </div>
    </div>
  </ion-col>
</ion-row>
