<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <app-profile-header [reloadProfile]="reloadData"></app-profile-header>
    <ion-row>
      <ion-col size="12">
        <app-achievements [reloadAchievements]="reloadData"></app-achievements>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <app-latest-session-overview [reloadSession]="reloadData"></app-latest-session-overview>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/tabs/sessions-overview" expand="full">
          Alle sessies
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-col size="12">
      <ion-row>
        <div>
          <ion-button color="danger" (click)="logout()">AFMELDEN</ion-button>
        </div>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>

