.sendMessages {
  float: right;
  border-radius: 5px; // Adjust the border-radius as needed for the desired roundness
  // Set a maximum width for the row and center it
  max-height: 99%;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: -10px;
  // Apply background color
  background-color: #4343a8; // Replace with your desired background color
}

.receivedMessages {
  float: left;
  border-radius: 5px; // Adjust the border-radius as needed for the desired roundness
  // Set a maximum width for the row and center it
  padding-right: 10px;
  padding-left: 10px;
  //margin-left: -10px;
  max-height: 99%;
  // Apply background color
  background-color: #7e1e1e; // Replace with your desired background color
}
