<ion-row *ngIf="userId === chatMessage.senderId">
  <ion-col>
    <div class="sendMessages">
      {{chatMessage.chatMessage}}
    </div>
  </ion-col>
</ion-row>
<ion-row *ngIf="userId !== chatMessage.senderId">
  <ion-col>
    <div class="receivedMessages">
      {{chatMessage.chatMessage}}
    </div>
  </ion-col>
</ion-row>
